{% extends 'main/profile_page.html' %}
{% load static %}

{% block profile_content %}
    <div>
        <div class="general_data_content">
            <div>
                {% if user.user_name %}
                    <p>Имя: {{ user.user_name }}</p>
                {% else %}
                    <p>Имя: -</p>
                {% endif %}

                {% if user.user_surname %}
                    <p>Фамилия: {{ user.user_surname }}</p>
                {% else %}
                    <p>Фамилия: -</p>
                {% endif %}
                <p>Электронная почта: {{user.email}}</p>
                {% if user.age != -1 %}
                    <p>Возраст: {{user.age}}</p>
                {% else %}
                    <p>Возраст: -</p>
                {% endif %}
                {% if user.city %}
                    <p>Город: {{user.city}}</p>
                {% else %}
                    <p>Город: -</p>
                {% endif %}
                <p>Баланс: {{user.money}} ₽</p>
                <p>Количество купленных товаров: {{user.products_purchased}}</p>
                <p>Количество проданных товаров: {{user.products_sold}}</p>
                <p>Заработанные деньги: {{user.money_earned}} ₽</p>
                <p>Потраченные деньги: {{user.money_spend}} ₽</p>
            </div>
            <div>
                {% if user.img_file %}
                    <img src="{{ user.img_file }}" style="сwidth: 400px; height: 400px; border-radius: 20px;">
                {% else %}
                    <img src="{% static 'main/png/default_avatar.png' %}" style="width: 400px; height: 400px; border-radius: 20px;">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}