    {% extends 'main/profile_page.html' %}

{% block profile_content %}
    <div>
        <p>Редактирование данных</p>
        <form method="post">
            {% csrf_token %}
            {{ form.user_name }}<br><br>
            {{ form.user_surname }}<br><br>
            {{ form.age }}<br><br>
            {{ form.city }}<br>
            <div style="margin-top: 20px;">
                <button type="submit" class="edit_data_button">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}