{% extends 'main/header.html' %}
{% load static %}

{% block title %}
Категории
{% endblock %}

{% block content %}
<h1 style="margin-top: 50px;">Категории товаров</h1>
{% csrf_token %}
<div class="category_list">
    {% for i in products %}
        <a style="text-decoration: none;" href="{% url 'category_page' i %}">
            <div class="category_button">
                <p style="display: block; position: absolute; margin-top: 10px; margin-left: 20px;">{{ i }}</p>
                <img src="{% static 'main/png/arrow-right.svg' %}">
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}