{% extends 'main/header.html' %}

{% block title %}
{{ key }}
{% endblock %}

{% block content %}
<h2 style="margin-top: 40px; margin-left: 30px; color: grey">Товары по категории</h2>
<h1 style="margin-left: 30px;"> {{ key }}</h1>
{% csrf_token %}
<products>
    {% for i in products %}
        {% if i.category == key and i.count > 0 %}
            <a href="{% url 'product_page' i.id %}">
                <div class="product_box">

                    <p>{{ i.product_name }}</p>

                    <div class="image_box_prod">
                        <img src={{ i.img_file }} class="product_image">
                    </div>

                    {% if i.discount %}
                        <p class="price_with_discount_on_main">{{ i.price_with_discount }} ₽</p>
                        <p class="price_old">{{ i.price }} ₽</p>
                    {% else %}
                        <p class="price_without_discount_on_main">{{ i.price_with_discount }} ₽</p>
                    {% endif %}
                </div>
            </a>
        {% endif %}


    {% endfor %}
</products>
{% endblock %}