{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/png/favicon.png' %}"/>

</head>
<body>
    <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'shop' %}" class="nav-link link-dark px-2 active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'catalog' %}" class="nav-link link-dark px-2">Каталог</a></li>
        <li class="nav-item"><a href="{% url 'aktsii' %}" class="nav-link link-dark px-2">Акции</a></li>
        <li class="nav-item"><a href="{% url 'fav' %}" class="nav-link link-dark px-2">Избранное</a></li>
      </ul>
      {% if user_in_account %}
        <a href="{% url 'profile' %}" class="header_user" >
            <div>
                {% if user.img_link %}
                    <img src="{{ user.img_link }}">
                {% else %}
                    <img src="{% static 'main/png/default_avatar.png' %}">
                {% endif %}
            </div>
            <div>
                <p>{{ user_header }}</p>
            </div>
        </a>

      {% else %}
        <ul class="nav">
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-dark px-2">Вход</a></li>
            <li class="nav-item"><a href="{% url 'registration' %}" class="nav-link link-dark px-2">Регистрация</a></li>
        </ul>
      {% endif %}
    </div>
  </nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="{% url 'shop' %}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="0" height="32"><use xlink:href="#bootstrap"></use></svg>
        <img src="{% static 'main/png/Logo.png' %}" style="width:120px; height: 70px;" alt="Лого" class="logo">
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </header>
<div class="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>