{% extends 'main/header.html' %}
{% load static %}

{% block title %}
{{ product.product_name }}
{% endblock %}

{% block content %}
<h1 style="margin-top: 50px; font-size: 35px; font-family: Gill Sans, sans-serif; font-weight: bolder;">{{ product.product_name }}</h1>
<div class="product_page">
    <div>
        <img src={{ product.img_link }} style="width:500px; margin-top:20px;">
    </div>
    <div class="product_description">
        <p>Описание:    {{ product.description }}</p>
        <p>Бренд:   {{ product.brand }}</p>
        <p>Категория: {{ product.category }}</p>
        <p>Продавец: {{ product.seller }}</p><br>
        <b>Осталось: {{ product.count }}</b>
    </div>
    <div class="product_price">
        {% if product.discount %}
            <p class="product_price_with_discount_in_product_page">{{ product.price_with_discount }} ₽</p>
            <div style="display: flex; flex-direction: row;">
                <p class="product_price_without_discount_in_product_page">{{ product.price }} ₽</p>
                <div style="border-radius: 10px; margin-left:50px; margin-top: -15px; font-size: 12pt; color: white; width: 55px; height: 25px; background-color: red">
                    <p style="margin-left:5px;">-{{ product.percent_discount }}%</p>
                </div>
            </div>
            {% if user_in_account %}
                <a href="{% url 'buy_product' product.id %}" class="buy_button">
                    <p>Купить</p>
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="buy_button">
                    <p>Купить</p>
                </a>
            {% endif %}
        {% else %}
            <p class="product_price_with_discount_in_product_page">{{ product.price }} ₽</p>
                        {% if user_in_account %}
                <a href="{% url 'buy_product' product.id %}" class="buy_button">
                    <p>Купить</p>
                </a>
            {% else %}

                    <a href="{% url 'login' %}" class="buy_button">
                        <p>Купить</p>
                    </a>

            {% endif %}
        {% endif %}
        <form method="GET">
            <a class="add_to_cart_button">
                <img src="{% static 'main/png/heart_icon.svg' %}" style="width: 30px; position: relative; left: 8px; bottom: 10px; fill: red">
            </a>
        </form>
    </div>
</div>
{% endblock %}
