{% extends 'main/header.html' %}
{% load static %}


{% block title %}
Профиль
{% endblock %}

{% block content %}
    <h1 style="margin-top: 20px;">Профиль</h1>
    <div style="display: grid; grid-template-columns: 1fr 4fr; grid-gap: 2vw; ">
        <div>
            <a href="{% url 'profile_general_data' %}">
                <p>Общее</p>
            </a>
            <a href="{% url 'profile_edit_data' %}">
                <p>редактирование данных</p>
            </a>
        </div>

        {% block profile_content %}
        {% endblock %}
    </div>

{% endblock %}
