{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'shop' %}" class="nav-link link-dark px-2 active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'catalog' %}" class="nav-link link-dark px-2">Каталог</a></li>
        <li class="nav-item"><a href="{% url 'aktsii' %}" class="nav-link link-dark px-2">Акции</a></li>
        <li class="nav-item"><a href="{% url 'fav' %}" class="nav-link link-dark px-2">Избранное</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-dark px-2">Вход</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Регистрация</a></li>
      </ul>
    </div>
  </nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="{% url 'shop' %}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="0" height="32"><use xlink:href="#bootstrap"></use></svg>
        <img src="{% static 'main/png/Logo.png' %}" style="width:120px; height: 70px;" alt="Лого" class="logo">
      </a>
    </div>
  </header>


<div class="content_login_page">
    <div class="registration_box">
        <h1 style="margin-top: 20px">Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.email }}<br><br>
            {{ form.login }}
            {{ error }}
            <button type="submit" style="margin-top: 100px;" class="registration_button">Зарегистрироваться</button>
        </form>
        <div style="display: flex; flex-direction: row; margin-top: 150px; margin-left: 30px;">
            <p>Уже есть аккаунт?</p>
            <a href="{% url 'login' %}" style="margin-left: 10px; text-decoration: none;">
                <p> Войдите</p>
            </a>
        </div>

    </div>
</div>
</body>
</html>