

.content {
    float: left;
    color: black;
    position: absolute;
    top: 50px;
    left: 5%;
    text-align: left;
    width: 90%
}

products {
    position: relative;
    margin-top: 50px;
    width: 250px;
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
}

products a{
    text-decoration: none;
    color: black;
}

products a:hover{
    color: black;
}

products p { color: black; font-size: 20px; }

.product_box{
    width: 310px;
    height: 450px;
    box-shadow: 3px 3px 10px grey;
    background: white;
    font-size: 5vw;
    padding: .5em;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    transition: 0.2s;
}

.product_box:hover{
    width: 300px;
    height: 440px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.image_box_prod {
    display: flex;
    width: 210px;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: 0.2s;
}
.product_box:hover .image_box_prod{
    width: 180px;
}

.product_box:active{
    width: 290px;
    height: 420px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

}

.product_box p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.best_products_box{
    display: block;
    position: relative;
    top: 30px;
    width: 100%;
    height: 650px;
    border: 10px solid rgb(255, 100, 100);
    border-radius: 30px;

}

.best_products_box products{
    margin-left: 50px;

}

.price_with_discount_on_main{
    margin-left: 0px;
    color: White;
    background-color: rgb(255, 57, 43);


    border-radius: 10px;
    font-family: Arial Black;
    font-size:15pt;

}

.price_without_discount_on_main{
    margin-left: 0px;
    color: White;
    background-color: rgb(76, 151, 255);
    border-radius: 10px;
    font-family: Arial Black;
    font-size:15pt;
}

.price_old{
    text-align: left;
    font-family: Arial Black;
    color: Grey;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
    font-size: 12pt;
}

.product_image{
    max-width: 210px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.product_description {
    margin-left: 40px;
    max-width: 500px;
    font-size: 20px;
    text-align: left;
}

.product_price {
    width: 300px;
    height: 280px;
    box-shadow: 3px 3px 7px grey;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 30px;
    text-align: left;
    font-family: Arial Black;
    border-radius: 20px;


}
.product_page{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-padding: 2vw;
}

.product_price_with_discount_in_product_page{
    margin-left: 30px;
    margin-top: 20px;
    text-align: left;
}

.product_price_without_discount_in_product_page{
    margin-top: -20px;
    margin-left: 30px;
    color: Grey;
    font-size: 16pt;
    text-decoration: line-through;
    text-decoration-color: red;
    front-size: 10px;
}

.category_list{
    display: grid;
}

.category_button{
    display: inline-block;
    margin-top: 20px;
    width: 500px;
    height: 50px;
    box-shadow: 3px 3px 7px grey;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: 0.1s;
}

.category_button img{
    margin-left: 470px;
    margin-top: 15px;
    filter: alpha(Opacity=0); /* Полупрозрачность для IE */
    opacity: 0; /* Полупрозрачность для других браузеров */
    transition: 0.2s;
}
.category_button:hover img{
    filter: alpha(Opacity=100); /* Полупрозрачность для IE */
    opacity: 1; /* Полупрозрачность для других браузеров */
}

.category_button:hover{

    color: rgb(255, 57, 43);
}

.content_login_page{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 100px;
}

.login_box{
    position: absolute;
    width: 400px;
    height: 400px;
    font-family: Trebuchet MS;
    display: block;
    margin-top: 50px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 10px 10px 20px grey;
}

.registration_box{
    position: absolute;
    width: 400px;
    height: 420px;
    font-family: Trebuchet MS;
    display: block;
    margin-top: 50px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 10px 10px 20px grey;
}

.login_box h1{
    margin-top: 20px;
}

.login_input{
    height: 50px;
    border: solid rgb(200, 200, 200);
    border-radius: 10px;
    font-size: 15pt;
    margin-top: 20px;
}
.password_input{
    height: 50px;
    border: solid rgb(200, 200, 200);
    border-radius: 10px;
    font-size: 15pt;
}

.login_button{
    position: absolute;
    width: 60%;
    height: 50px;
    background-color: rgb(255, 57, 43);
    left: 50%;
    margin-left: -30%;
    border-radius: 10px;
    color: White;
}
.registration_button{
    position: absolute;
    width: 60%;
    height: 50px;
    background-color: rgb(255, 57, 43);
    left: 50%;
    margin-left: -30%;
    border-radius: 10px;
    color: White;
    border: 0px;
}


.edit_data_button{
    position: absolute;
    width: 30%;
    height: 50px;
    background-color: rgb(255, 57, 43);
    left: 50%;
    margin-left: -29%;
    border-radius: 10px;
    color: White;
    border: 0px;
}

.mail_input{
    height: 50px;
    border: solid rgb(200, 200, 200);
    border-radius: 10px;
    font-size: 15pt;
}

.header_user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 250px;
    height: 40px;
    font-size: 16px;
    box-shadow: 2px 2px 7px rgb(200, 200, 200);
    border-radius: 7px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    position: absolute;
    right: 30px;
    top: 10px;
}

.header_user:hover{
    color: black;
    background-color: rgb(220, 220, 220);
    box-shadow: 3px 3px 10px rgb(200, 200, 200);
}

.header_user p{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-top: 6px;
}

.header_user img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.profile_list_button{
    display: block;
    color: black;

    text-decoration: none;
    width: 200px;
    height: 40px;
    transition: 0.1s;
    border-radius: 10px;
    box-shadow: 2px 2px 7px grey;
    margin-top: 20px;
}

.profile_list_button_quit{
    display: block;
    color: white;
    background-color: rgb(255, 57, 43);
    text-decoration: none;
    width: 200px;
    height: 40px;
    transition: 0.1s;
    border-radius: 10px;
    box-shadow: 2px 2px 7px grey;
    margin-top: 20px;
}

.profile_list_button_quit p{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.profile_list_button p{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.profile_list_button:hover{
    color: rgb(255, 57, 43);
    border: 3px solid rgb(255, 57, 43);
}

.profile_list_button_quit:hover{
    color: white;
    border: 3px solid white;
}

.general_data_content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2vw;
}

.buy_button{
    margin-left: 20px;
    margin-top: 10px;
    width: 260px;
    height: 50px;
    display: block;
    border-radius: 15px;
    background-color: rgb(255, 57, 43);
    color: white;
    text-decoration: none;
    transition: 0.2s;

}

.buy_button p{
    font-size: 20pt;

    position: relative;

    text-align: center;

}

.buy_button:hover{
    color: rgb(200, 200, 200);
    background-color: rgb(230, 37, 23);
}

.buy_button:active{
    width: 180px;
    height: 40px;
    margin-left: 30px;
    margin-top: 15px;
}
.buy_button:active p{
    width: 180px;
    height: 40px;

}

.product_box_in_purchase_history{
    display: block;
    position: relative;
    margin-top: 30px;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;
    transition: 0.2s;
}

.product_box_label_in_purchase_history{
    display: flex;
    width: 100%;
    height: 20%;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 230, 230);
}

.product_box_in_purchase_history:hover{
    margin-left: 5px;
    margin-top: 35px;
    width: 690px;
    height: 190px;
}
.product_box_in_purchase_history:active{
    margin-left: 10px;
    margin-top: 40px;
    width: 680px;
    height: 180px;
}

.add_to_favourites_button{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 15px;
    position: relative;
    left: 20px;
    top: 20px;
    border: 2px solid grey;
    position: relative;
    transition: 0.2s;
}

.add_to_favourites_button:hover{
    background-color: rgb(200, 200, 200);
}

.add_to_cart_button{
    position: relative;
    top: 20px;
    border-radius: 15px;
    display: block;
    width: 200px;
    height: 50px;
    background-color: rgb(40, 100, 255);
    position: relative;
    left: 30px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.add_to_cart_button:hover{
    color: rgb(200, 200, 200);
    background-color: rgb(20, 80, 230);
}





